.wrapper {
    padding: 1vw;
    display: flex;
    flex-direction: column;
}
.wrapper > p {
    text-align: center;
}
.wrapper > p:nth-child(1) {
    font-size: 32px;
}

.wrapper > p:nth-child(3) {
    margin: 1ex 0;
    color: rgb(218, 80, 67)
}

.buttons * {
    font-size: 16px;
    margin: 0 1ex;
    width: 10ex;
    height: 5ex;
    border: none;
    color: #fff;
    display: inline-block;
}

.buttons {
    text-align: right;
}

.buttons > button:nth-child(1) {
    background: rgb(67, 175, 218);
}

.buttons > button:nth-child(2) {
    background: rgb(218, 80, 67);
}

.buttons > button:nth-child(1):hover {
    background: rgb(13, 79, 105);
}

.buttons > button:nth-child(2):hover {
    background: rgb(109, 25, 17);
}

.buttons > button:nth-child(1):active {
    background: rgb(39, 124, 158);
}

.buttons > button:nth-child(2):active {
    background: rgb(218, 80, 67);
}


#seat {
    color: #f00;
}