.wrapper {
    padding: 1vw;
    display: flex;
    flex-direction: column;
}
.wrapper > * {
    margin: 0.5vw;
    padding: 0;
    text-align: center;
}
.wrapper > p:nth-child(1),
.wrapper > p:nth-child(2) {
    font-size: 32px;
}
.wrapper > p:nth-child(2) {
    margin-bottom: 0;
}
.wrapper > p:nth-child(3) {
    margin-top: 0;
}
.wrapper > p:nth-child(2),
#people {
    color: #f00;
}

.buttons {
    text-align: center;
}
.buttons > * {
    font-size: 16px;
    /* margin: 0; */
    margin: 0 5ex;
    width: 10ex;
    height: 5ex;
    border: none;
    color: #fff;
    display: inline-block;
}

.buttons > button:nth-child(1) {
    background: rgb(67, 175, 218);
}
.buttons > button:nth-child(2) {
    background: rgb(218, 80, 67);
}

.buttons > button:nth-child(1):hover {
    background: rgb(13, 79, 105);
}
.buttons > button:nth-child(2):hover {
    background: rgb(109, 25, 17);
}

.buttons > button:nth-child(1):active {
    background: rgb(39, 124, 158);
}
.buttons > button:nth-child(2):active {
    background: rgb(218, 80, 67);
}